body {
height: 100%;
background: #2C4762 url('/images/background.png?5') top repeat-x;
font: normal 14px "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
line-height: 1.4;
color: #444;
margin: 0;
padding: 0;
}

.pc_img {
    height: auto;
}

.profile-box {
    float: left;
}

.img_border {
    margin-top: 5px;
    width: 35px
}

.myname {
    display: none;
}

.myheadline {
    display: none;
}

.uploader-text {
    float: right;
    margin-top: 20px;
}

#file-uploader-demo1 {
    margin-top: 10px;
    margin-left: 20px;
}