body {
height: 100%;
background: #2C4762 url('/images/background.png?5') top repeat-x;
font: normal 14px "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
line-height: 1.4;
color: #444;
margin: 0;
padding: 0;
}

.pc_img {
    height: auto;
}

.profile-box {
    float: left;
}

.img_border {
    margin-top: 5px;
    width: 35px
}

.myname {
    display: none;
}

.myheadline {
    display: none;
}

.uploader-text {
    float:right;
    padding-right: 100px;
    margin-top: 20px;
}

#file-uploader-demo1 {
    margin-top: 10px;
    margin-left: 20px;
}

.photoset .photoset_row {
    width: 500px;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 10px;
}

.photoset .photoset_row:first-child {
    margin-top: 0;
}

.photoset .photoset_row .photoset_photo {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

.photoset .photoset_row .photoset_photo:first-child {
    margin-left: 0 !important;
}

.post_photos_header {
    float: left;
    padding-left: 20px;
    -webkit-font-smoothing: antialiased;
    color: #2D4159;
    margin: 0 0 30px 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -1px;
}

.input_caption_label {
    float:left;
    padding-left: 20px;
    font-weight: bold;
}

.spinner {
    width: 32px;
    height: 32px;
    background: url('/images/auto_pagination_loader.gif');
    margin-right: 10px;
    vertical-align: -5px;
    display: inline-block
}
