
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <title>snapclear</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le styles -->
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="/css/dashboard.css" rel="stylesheet">
  <link href="/css/jquery.fileupload-ui.css" rel="stylesheet" type="text/css">
  <link href="/css/bootstrap-image-gallery.min.css" rel="stylesheet" type="text/css">

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">
</head>

<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">snapclear</a>
      <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <img src="{{dyn-profileimg}}" style="width: 24px;"/> {{dyn-screenname}}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="https://twitter.com/{{dyn-screenname}}">Profile</a></li>
          <li class="divider"></li>
          <li><a href="/logout">Sign Out</a></li>
        </ul>
      </div>

      <div class="nav-collapse">
        <ul class="nav">
          <li class="">
            <span class="btn btn-success fileinput-button">
              <i class="icon-plus icon-white"></i>
              <span>Add files</span>
              <input type="file" name="files[]" multiple>
            </span>
          </li>
          <li>
            <button class="btn btn-primary multi-select">
              <i class="icon-share icon-white"></i>
              <span>Select</span>
            </button>
          </li>
        </ul>
        <div class="ohpc">
          <form class="navbar-search">
            <span class="search-icon js-search-action">
              <i class="icon-search" tabindex="0"></i>
            </span>
            <input class="search-query" type="text" id="search-query" placeholder="Search" name="q" autocomplete="off" spellcheck="false" tabindex="-1">
          </form>
        </div>

        <div class="btn-group pull-right">
        </div>
      </div>
    </div>
  </div>
</div>

<div id="container-fluid" class="wrapper home-container">
  <div class="download-panel well" style="display: none;">
    <div class="download-panel-header">
      <span class="pull-left download-panel-title">
        <i class="icon-upload icon-white"></i><span class="upload-message">Upload files</span>
      </span>
      <span class="pull-right download-panel-action-icons">
        <span class="download-panel-minimize-icon" style="display: none;"><i class="icon-minus icon-white"></i></span>
        <span class="download-panel-close-icon" style="display: none;"><i class="icon-remove icon-white"></i></span>
      </span>
    </div>
    <br/>
    <div class="file-button-container">
      <form id="fileupload" action="/u/" method="POST" enctype="multipart/form-data">
        <div>&nbsp;</div>
        <div class="row-fluid">
          <span class="fileupload-tags-textarea">
            <span class="text-area-editor">
              <textarea id="tags" name="tags" class="box-editor" style="width: 65%; overflow: hidden; "></textarea>
            </span>
          </span>
          <span class="fileupload-buttonbar pull-right">
            <button type="button" class="btn btn-primary upload-button">
              <i class="icon-upload icon-white"></i>
              <span>Upload</span>
            </button>
            <button type="button" class="btn btn-primary upload-cancel-all-button disabled" style="display: none;">
              <i class="icon-ban-circle icon-white"></i>
              <span>Cancel All</span>
            </button>
          </span>
        </div>
        <div class="row-fluid">
          <br/>
          <div class="upload-list">
            <table role="presentation" class="table table-striped upload-file-queue"><tbody class="files"></tbody></table>
          </div>
        </div>
      </form>
    </div>
    <div class="download-panel-footer"></div>
  </div>

  <div class="row-fluid menu-row"  style="display: none;">
    <header class="jumbotron subhead">
      <div class="subnav subnav-fixed">
        <ul class="nav nav-pills">
          <li>
            <button class="btn btn-primary disabled select-share-button subnav-btn">
              <i class="icon-share icon-white"></i>
              <span>Share</span>
            </button>
          </li>
          <li>
            <button type="button" class="btn btn-info select-edit-button disabled subnav-btn">
              <i class="icon-edit icon-white"></i>
              <span>Edit</span>
            </button>
          </li>
          <li>
            <button type="button" class="btn btn-danger select-delete-button disabled subnav-btn ">
              <i class="icon-trash icon-white"></i>
              <span>Delete</span>
            </button>
          </li>
          <li>
            <button class="btn btn-warning subnav-btn select-cancel-button">
              <i class="icon-ban-circle icon-white"></i>
              <span>Cancel</span>
            </button>
          </li>
        </ul>
      </div>
    </header>
  </div>
  <div class="row-fluid" style="margin-left: 20px;">
    <div class="span12">
      <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
        <!--
        <div class="item box corner-stamp">
          <div class="corner-stamp-text">
            <ul class="nav nav-list trends">
              <h2>Top tags</h2>
              <li><a class="toptag" href="#">#lasvegas</a></li>
              <li><a class="toptag" href="#">#sf</a></li>
              <li><a class="toptag" href="#">#friends</a></li>
              <h2>Public</h2>
              <li><a class="toptag" href="#">#party</a></li>
              <li><a class="toptag" href="#">#sf</a></li>
              <h2>Private</h2>
              <li><a class="toptag" href="#">#lasvegas</a></li>
              <li><a class="toptag" href="#">#sf</a></li>
              <li><a class="toptag" href="#">#archive</a></li>
              <li><a class="toptag" href="#">#finances</a></li>
            </ul>
          </div>
        </div>
        -->
      </div>
    </div>
  </div>
  <hr>
  <nav id="page-nav">
    <a href="/j/2"></a>
  </nav>
  <footer>
    <p>&copy; OPS5 2012</p>
  </footer>
</div>

<div id="modal-lightbox" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3 class="modal-title"></h3>
  </div>
  <div class="modal-body"><div class="modal-image"></div></div>
  <div class="modal-footer">
    <a class="btn modal-download" target="_blank">
      <i class="icon-download"></i>
      <span>Download</span>
    </a>
  </div>
  </div>

<div id="modal-gallery" class="modal modal-gallery hide fade" data-filter=":odd">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3 class="modal-title"></h3>
  </div>
  <div class="modal-body"><div class="modal-image"></div></div>
  <div class="modal-footer">
    <a class="btn modal-download" target="_blank">
      <i class="icon-download"></i>
      <span>Download</span>
    </a>
    <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
      <i class="icon-play icon-white"></i>
      <span>Slideshow</span>
    </a>
    <a class="btn btn-info modal-prev">
      <i class="icon-arrow-left icon-white"></i>
      <span>Previous</span>
    </a>
    <a class="btn btn-primary modal-next">
      <span>Next</span>
      <i class="icon-arrow-right icon-white"></i>
    </a>
  </div>
</div>

<div id="modal-share" class="modal hide fade">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&times;</a>
      <h3 class="modal-title">Share files...</h3>
    </div>
    <div class="modal-body">
      <form id="form-share-modal">
        <div class="container-fluid">
          <div class="row-fluid">
            <textarea class="sharemsg" name="sharemsg"></textarea>
          </div>
          <div class="row-fluid sharee-list-wrapper">
            <strong>Sharing to:</strong> <span class="sharee-list"></span>
          </div>
          <div>&nbsp;</div>
          <div class="row-fluid">
            <table role="presentation" class="table table-striped"><tbody class="share-item-list"></tbody></table>
          </div>
          <input id="ids" name="ids" type="hidden">
          <input id="sharees" name="sharees" type="hidden">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      <a href="#" class="btn btn-primary share-dialog-button">Share</a>
    </div>
</div>

  <!-- Le javascript
 ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-transition.js"></script>
<script src="/js/bootstrap-alert.js"></script>
<script src="/js/bootstrap-modal.js"></script>
<script src="/js/bootstrap-dropdown.js"></script>
<script src="/js/bootstrap-scrollspy.js"></script>
<script src="/js/bootstrap-tab.js"></script>
<script src="/js/bootstrap-tooltip.js"></script>
<script src="/js/bootstrap-popover.js"></script>
<script src="/js/bootstrap-button.js"></script>
<script src="/js/bootstrap-collapse.js"></script>
<script src="/js/bootstrap-carousel.js"></script>
<script src="/js/bootstrap-typeahead.js"></script>
<script src="/js/bootstrap-image-gallery.min.js"></script>

<script src="/js/mustache.js"></script>
<script src="/js/spin.js"></script>
<script src="/js/masonry.min.js"></script>
<script src="/js/jquery.infinitescroll.js"></script>

<script src="/js/tmpl.min.js"></script>
<script src="/js/load-image.min.js"></script>
<script src="/js/canvas-to-blob.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-image-gallery.min.js"></script>

<script src="/js/jquery.iframe-transport.js"></script>
<script src="/js/jquery.fileupload.js"></script>
<script src="/js/jquery.fileupload-fp.js"></script>
<script src="/js/jquery.fileupload-ui.js"></script>
<script src="/js/locale.js"></script>
<script src="/js/easydate.js"></script>
<script src="/js/main.js"></script>
<!--[if gte IE 8]><script src="js/cors/jquery.xdr-transport.js"></script><![endif]-->

<script type="text/javascript">
  var params = {}
  var data = {{dyn-data}}

  $(document).ready(function() {
    snapclearApp(data);
  });
</script>

  <!-- The template to display files available for upload -->
  <script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
      <td class="preview"><span class="fade"></span></td>
      <td class="name"><span>{%=file.name%}</span></td>
      <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
      {% if (file.error) { %}
      <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
      {% } else if (o.files.valid && !i) { %}
      <td class="custom-progress">
        <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
      </td>
      <td class="start" hidden>{% if (!o.options.autoUpload) { %}
        <button class="btn btn-primary">
          <i class="icon-upload icon-white"></i>
          <span>{%=locale.fileupload.start%}</span>
        </button>
        {% } %}</td>
      {% } else { %}
      <td colspan="2"></td>
      {% } %}
      <td class="cancel">{% if (!i) { %}
        <button class="btn btn-warning">
          <span>{%=locale.fileupload.cancel%}</span>
        </button>
        {% } %}</td>
    </tr>
    {% } %}
  </script>
  <!-- The template to display files available for download -->
  <script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
      {% if (file.error) { %}
      <td></td>
      <td class="name"><span>{%=file.name%}</span></td>
      <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
      <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
      {% } else { %}
      <td class="preview">{% if (file.thumbnail_url) { %}
        <!-- rel="gallery"  -->
        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}" class="download_img"></a>
        {% } %}</td>
      <td class="name">
        <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
      </td>
      <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
      <td colspan="2"></td>
      {% } %}
    </tr>
    {% } %}
  </script>

  <script type="text/html" id="template-share-item">
    <tr>
      <td><img class="download_img" src="{{thumb}}"></td>
      <td data-id='{{id}}'>{{name}}</td>
    </tr>
  </script>

  <script type="text/html" id="template-mason-brick">
    <div class="item box" data-id="{{id}}" data-sharable={{isSharable}}>
      <div class="pull-right icon-top-right" style="display: none;">
        <img class="checkbox-img" src="/img/transparent.png" role="checkbox">
        <input type="checkbox" name="share[]" style="display: none;"/>
      </div>
      <div class="item-actions" style="display: none;">
          <span class="item-share" data-id="{{id}}" style="cursor: pointer;">
            <a class="btn inline-share-button">
              <i class="icon-share"></i>
              <span>Share</span>
            </a>
          </span>
      </div>
      <div class="ItemHolder center">
        <!-- rel="gallery" -->
        <a href="/d/{{id}}" class="ItemThumb ImgLink" title="{{name}}" download="{{name}}">
          <img src="/t/{{id}}" alt="{{tags}}" class="ItemThumbImg" />
        </a>
        <div class="description tags">{{tags}}</div>
      </div>
      <div class="iteminfo creatorInfo">
        <span>
          <a href="https://twitter.com/{{creatorName}}/" title="{{creatorName}}" class="ImgLink">
            <img src="{{creatorProfileImg}}" alt="Profile picture of @{{creatorName}}">
          </a>
          <div class="item-info">
            <div>
              <div class="easydate pull-right" data-filedate="{{filedate}}"></div>
              <div><a href="https://twitter.com/{{creatorName}}">@{{creatorName}}</a></div>
              <div class="description"><a href="/d/{{id}}">{{name}}</a></div>
            </div>
          </div>
        </span>
      </div>
    </div>
  </script>
</body>
</html>
