.item {position: absolute; width: 192px; float: left; margin: 10px 0 5px; padding: 15px 15px 0; font-size: 11px; background-color: #fff; box-shadow: 0 1px 3px rgba(34,25,25,0.4); -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4); -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);}
.item .ItemHolder {position: relative;}
.item .ImgLink {position: relative; }
.item .ImgLink:hover {text-decoration: none;}
.item .ImgLink img {max-width: 192px; opacity: 1; -webkit-transition: opacity 0.3s; }
.item .ImgLink img.lazy { opacity: 0; }
.item .ItemImage { background-color: #f2f0f0; }
.item .ItemImageImg {min-height: 75px; background-color: #f2f0f0;}
.item .video {position: absolute; z-index: 1; top: 50%; left: 50%; width: 50px; height: 50px; margin: -25px 0 0 -25px;}
.item .description {margin: 10px 0 5px; overflow: hidden; word-wrap: break-word;}

.item.activity { background: #fff; box-shadow: 0 1px 3px rgba(34,25,25,0.4); -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4); -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4); position: absolute }
.item.activity div.info { background-position: 15px 0px; background-repeat: no-repeat; border-bottom: 1px solid #ccc; padding: 0 15px 10px 35px; margin: 0 -15px 15px; }
.item.activity .actions { top: auto; }
.user.activity a.ImgLink { width: 192px; display: block; margin-bottom: 10px; }
.user.activity .PersonIdentity { display: none; }
.item .stats { overflow: hidden; }
.item .stats span { float: left; margin-right: 10px; }
.item.activity p.stats { margin: 0.8em 0; }

.item.activity div.info p { padding: 5px 0 0 0; margin: 0; }
.item.activity .UserImage, .item.activity .BoardImage { overflow: hidden; margin-bottom: 15px; }

.convo {margin: 0 -15px; padding: 10px 15px; background-color: #f2f0f0;}
.convo:after {clear: both; display: block; height: 0; content: " "; visibility: hidden;}
.convo p {margin: 0 0 0 36px; overflow: hidden; word-wrap: break-word;}
.convo .ImgLink {float: left; margin-right: 6px; width: 30px;}
.convo .ImgLink img {width: 30px; height: 30px;}
a.convo {display: block; padding: 12px 15px; text-align: center;}
a.convo:hover {background-color: #f2f0f0;}
a.convo:active {color: #221919; background-color: #e1dfdf;}

.attribution {margin-top: 10px; color: #ad9c9c;}
.attribution a {color: #8c7e7e;}
.attribution p {display: table-cell; max-width: 156px; height: 30px; vertical-align: middle;}
.attribution .NoImage {height: auto; margin: 0;}

.download_img { width: 80px; }

.nobm {
  margin-bottom: 0px;
}

.wohpc.nobm.progress.progress-success.progress-striped {
  width: 50px;
  float: right;
}

.tweet-button-container {
  width: 100%;
}

.cancel {
  width: 50px;
}

.dashboard {
  margin-left: 10px;
  margin-right: 10px;
}

.content-main {
}

.download_img {
  width: auto;
  height: 32px
}

.onright {
  float: right;
}

.box-editor {
color: #AAA;
height: 19px!important;
min-height: 19px!important;
overflow: hidden;
}