
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>photon.io</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le styles -->
  <link href="/css/bootstrap.css" rel="stylesheet">
  <style type="text/css">
    body {
    padding-top: 60px;
    padding-bottom: 40px;
    }
    .sidebar-nav {
    padding: 9px 0;
    }
  </style>
  <link href="/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="/css/dashboard.css" rel="stylesheet">
  <link href="css/fileuploader.css" rel="stylesheet" type="text/css">

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">
</head>

<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">photon.io</a>
      <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <img src="{{dyn-profileimg}}"/> {{dyn-screenname}}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li class="divider"></li>
          <li><a href="#">Sign Out</a></li>
        </ul>
      </div>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Activity</li>
          <li class="active"><a href="#">Recent</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li class="nav-header">Public</li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li class="nav-header">Private</li>
          <li><a href="#">Photos</a></li>
          <li><a href="#">Documents</a></li>
          <li><a href="#">Movies</a></li>
          <li><a href="#">Projects</a></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <div id="gallery" class="span9">
      <div class="hero-unit" hidden>
        <div id="photo_input" class="photo_input">
          <hr/>
          <div class="update-box" id="update-box">
            <div class="">
              <p class="uploader-text">drag-and-drop or use the select button.</p>

              <div id="file-uploader-demo1">
                <noscript>
                  <p>Please enable JavaScript to use file uploader.</p>
                </noscript>
              </div>
            </div>
          </div>

          <form id="photo_input_form">
            <label for="photo_caption" class="input_caption_label">Caption: (optional)</label>
            <textarea id="photo_caption" rows="3" cols="60"></textarea>
            <input type="submit" value="post"/>
            <a href="javascript:void(0)" class="cancel-post">cancel</a>
          </form>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span4">
          <div class="item" data-id="1234" data-width="480" data-height="640">
            <div class="ItemHolder">
              <a href="/items/1234/" class="ItemImage ImgLink">
                <img src="/img/klimt.jpg"
                     alt="Gustav Klimt" class="ItemImageImg" />
              </a>
            </div>
            <p class="description">Gustav Klimt</p>
            <div class="convo attribution">
              <a href="/profile/{{dyn-userid}}/" title="{{dyn-screenname}}" class="ImgLink">
                <img src="{{dyn-profileimg}}" alt="Profile picture of {{dyn-screenname}}">
              </a>
              <p>
                <a href="/profile/{{dyn-userid}}/">{{dyn-screenname}}</a> onto <a href="/{{dyn-userid}}/album/">Artists</a>
              </p>
            </div>
          </div>
        </div><!--/span-->
        <div class="span4">
          <div class="item" data-id="1234" data-width="480" data-height="640">
            <div class="ItemHolder">
              <a href="/items/1234/" class="ItemImage ImgLink">
                <img src="http://farm5.static.flickr.com/4113/5013039697_a15e41fcd8.jpg"
                     alt="Gustav Klimt" class="ItemImageImg" />
              </a>
            </div>
            <p class="description">Gustav Klimt</p>
            <div class="convo attribution">
              <a href="/profile/{{dyn-userid}}/" title="{{dyn-screenname}}" class="ImgLink">
                <img src="{{dyn-profileimg}}" alt="Profile picture of {{dyn-screenname}}">
              </a>
              <p>
                <a href="/profile/{{dyn-userid}}/">{{dyn-screenname}}</a> onto <a href="/{{dyn-userid}}/album/">Artists</a>
              </p>
            </div>
          </div>
        </div><!--/span-->
        <div class="span4">
          <div class="item" data-id="1234" data-width="480" data-height="640">
            <div class="ItemHolder">
              <a href="/items/1234/" class="ItemImage ImgLink">
                <img src="http://farm5.static.flickr.com/4124/5013646314_c7eaf84918.jpg"
                     alt="Gustav Klimt" class="ItemImageImg" />
              </a>
            </div>
            <p class="description">Gustav Klimt</p>
            <div class="convo attribution">
              <a href="/profile/{{dyn-userid}}/" title="{{dyn-screenname}}" class="ImgLink">
                <img src="{{dyn-profileimg}}" alt="Profile picture of {{dyn-screenname}}">
              </a>
              <p>
                <a href="/profile/{{dyn-userid}}/">{{dyn-screenname}}</a> onto <a href="/{{dyn-userid}}/album/">Artists</a>
              </p>
            </div>
          </div>
        </div><!--/span-->
        <div class="span4">
          <div class="item" data-id="1234" data-width="480" data-height="640">
            <div class="ItemHolder">
              <a href="/items/1234/" class="ItemImage ImgLink">
                <img src="http://farm5.static.flickr.com/4113/5013039951_3a47ccd509.jpg"
                     alt="Gustav Klimt" class="ItemImageImg" />
              </a>
            </div>
            <p class="description">Gustav Klimt</p>
            <div class="convo attribution">
              <a href="/profile/{{dyn-userid}}/" title="{{dyn-screenname}}" class="ImgLink">
                <img src="{{dyn-profileimg}}" alt="Profile picture of {{dyn-screenname}}">
              </a>
              <p>
                <a href="/profile/{{dyn-userid}}/">{{dyn-screenname}}</a> onto <a href="/{{dyn-userid}}/album/">Artists</a>
              </p>
            </div>
          </div>
        </div><!--/span-->
        <div class="span4">
          <div class="item" data-id="1234" data-width="480" data-height="640">
            <div class="ItemHolder">
              <a href="/items/1234/" class="ItemImage ImgLink">
                <img src="/img/klimt.jpg"
                     alt="Gustav Klimt" class="ItemImageImg" />
              </a>
            </div>
            <p class="description">Gustav Klimt</p>
            <div class="convo attribution">
              <a href="/profile/{{dyn-userid}}/" title="{{dyn-screenname}}" class="ImgLink">
                <img src="{{dyn-profileimg}}" alt="Profile picture of {{dyn-screenname}}">
              </a>
              <p>
                <a href="/profile/{{dyn-userid}}/">{{dyn-screenname}}</a> onto <a href="/{{dyn-userid}}/album/">Artists</a>
              </p>
            </div>
          </div>
        </div><!--/span-->
        <div class="span4">
          <div class="item" data-id="1234" data-width="480" data-height="640">
            <div class="ItemHolder">
              <a href="/items/1234/" class="ItemImage ImgLink">
                <img src="http://farm5.static.flickr.com/4113/5013039697_a15e41fcd8.jpg"
                     alt="Gustav Klimt" class="ItemImageImg" />
              </a>
            </div>
            <p class="description">Gustav Klimt</p>
            <div class="convo attribution">
              <a href="/profile/{{dyn-userid}}/" title="{{dyn-screenname}}" class="ImgLink">
                <img src="{{dyn-profileimg}}" alt="Profile picture of {{dyn-screenname}}">
              </a>
              <p>
                <a href="/profile/{{dyn-userid}}/">{{dyn-screenname}}</a> onto <a href="/{{dyn-userid}}/album/">Artists</a>
              </p>
            </div>
          </div>
        </div><!--/span-->
        <div class="span4">
          <div class="item" data-id="1234" data-width="480" data-height="640">
            <div class="ItemHolder">
              <a href="/items/1234/" class="ItemImage ImgLink">
                <img src="http://farm5.static.flickr.com/4153/5013039741_d860fb640b.jpg"
                     alt="Gustav Klimt" class="ItemImageImg" />
              </a>
            </div>
            <p class="description">Gustav Klimt</p>
            <div class="convo attribution">
              <a href="/profile/{{dyn-userid}}/" title="{{dyn-screenname}}" class="ImgLink">
                <img src="{{dyn-profileimg}}" alt="Profile picture of {{dyn-screenname}}">
              </a>
              <p>
                <a href="/profile/{{dyn-userid}}/">{{dyn-screenname}}</a> onto <a href="/{{dyn-userid}}/album/">Artists</a>
              </p>
            </div>
          </div>
        </div><!--/span-->
        <div class="span4">
          <div class="item" data-id="1234" data-width="480" data-height="640">
            <div class="ItemHolder">
              <a href="/items/1234/" class="ItemImage ImgLink">
                <img src="http://farm5.static.flickr.com/4113/5013039951_3a47ccd509.jpg"
                     alt="Gustav Klimt" class="ItemImageImg" />
              </a>
            </div>
            <p class="description">Gustav Klimt</p>
            <div class="convo attribution">
              <a href="/profile/{{dyn-userid}}/" title="{{dyn-screenname}}" class="ImgLink">
                <img src="{{dyn-profileimg}}" alt="Profile picture of {{dyn-screenname}}">
              </a>
              <p>
                <a href="/profile/{{dyn-userid}}/">{{dyn-screenname}}</a> onto <a href="/{{dyn-userid}}/album/">Artists</a>
              </p>
            </div>
          </div>
        </div><!--/span-->
        <div class="span4">
          <div class="item" data-id="1234" data-width="480" data-height="640">
            <div class="ItemHolder">
              <a href="/items/1234/" class="ItemImage ImgLink">
                <img src="/img/klimt.jpg"
                     alt="Gustav Klimt" class="ItemImageImg" />
              </a>
            </div>
            <p class="description">Gustav Klimt</p>
            <div class="convo attribution">
              <a href="/profile/{{dyn-userid}}/" title="{{dyn-screenname}}" class="ImgLink">
                <img src="{{dyn-profileimg}}" alt="Profile picture of {{dyn-screenname}}">
              </a>
              <p>
                <a href="/profile/{{dyn-userid}}/">{{dyn-screenname}}</a> onto <a href="/{{dyn-userid}}/album/">Artists</a>
              </p>
            </div>
          </div>
        </div><!--/span-->
        <div class="span4">
          <div class="item" data-id="1234" data-width="480" data-height="640">
            <div class="ItemHolder">
              <a href="/items/1234/" class="ItemImage ImgLink">
                <img src="http://farm5.static.flickr.com/4113/5013039697_a15e41fcd8.jpg"
                     alt="Gustav Klimt" class="ItemImageImg" />
              </a>
            </div>
            <p class="description">Gustav Klimt</p>
            <div class="convo attribution">
              <a href="/profile/{{dyn-userid}}/" title="{{dyn-screenname}}" class="ImgLink">
                <img src="{{dyn-profileimg}}" alt="Profile picture of {{dyn-screenname}}">
              </a>
              <p>
                <a href="/profile/{{dyn-userid}}/">{{dyn-screenname}}</a> onto <a href="/{{dyn-userid}}/album/">Artists</a>
              </p>
            </div>
          </div>
        </div><!--/span-->
        <div class="span4">
          <div class="item" data-id="1234" data-width="480" data-height="640">
            <div class="ItemHolder">
              <a href="/items/1234/" class="ItemImage ImgLink">
                <img src="http://farm5.static.flickr.com/4153/5013039741_d860fb640b.jpg"
                     alt="Gustav Klimt" class="ItemImageImg" />
              </a>
            </div>
            <p class="description">Gustav Klimt</p>
            <div class="convo attribution">
              <a href="/profile/{{dyn-userid}}/" title="{{dyn-screenname}}" class="ImgLink">
                <img src="{{dyn-profileimg}}" alt="Profile picture of {{dyn-screenname}}">
              </a>
              <p>
                <a href="/profile/{{dyn-userid}}/">{{dyn-screenname}}</a> onto <a href="/{{dyn-userid}}/album/">Artists</a>
              </p>
            </div>
          </div>
        </div><!--/span-->
      </div><!--/row-->
    </div><!--/span-->
  </div><!--/row-->

  <hr>

  <footer>
    <p>&copy; OPS5 2012</p>
  </footer>

</div><!--/.fluid-container-->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/js/bootstrap-transition.js"></script>
<script src="/js/bootstrap-alert.js"></script>
<script src="/js/bootstrap-modal.js"></script>
<script src="/js/bootstrap-dropdown.js"></script>
<script src="/js/bootstrap-scrollspy.js"></script>
<script src="/js/bootstrap-tab.js"></script>
<script src="/js/bootstrap-tooltip.js"></script>
<script src="/js/bootstrap-popover.js"></script>
<script src="/js/bootstrap-button.js"></script>
<script src="/js/bootstrap-collapse.js"></script>
<script src="/js/bootstrap-carousel.js"></script>
<script src="/js/bootstrap-typeahead.js"></script>

<script src="/js/app.js"></script>
<script src="/js/fileuploader.js"></script>
<script src="/js/mustache.js"></script>
<script src="/js/spin.js"></script>
<script src="/js/masonry.min.js"></script>

<script type="text/javascript">
  var params = {}
  $(document).ready(function() {
    photonApp();
  });

  var $container = $('#gallery');
    $container.imagesLoaded(function(){
      $container.masonry({
        itemSelector : '.item',
        columnWidth: 240
    });
  });
</script>

</body>
</html>
